/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 6 févr. 2026, 11:06:59
    Author     : lukas.godayol-bonay
*/

body{
    background-color: lightskyblue;
}

h1 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

h2 {
    border:2px solid black;
    padding: 5px 10px;
    color:black;
    text-align: center;
}
#manavbar{
    opacity: 0.95;
}