/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 12 janv. 2026, 12:40:07
    Author     : lukas.godayol-bonay
*/

btn btn-secondary {
    background-color: blue;
    color: blue ;
    
}
btn btn-primary btn-lg{
    background-color:blueviolet;
    color: blueviolet;
}
body{
    background-color: lightskyblue;
}
footer {
    background-color: lightskyblue;
}
h1 {
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

h2 {
    border:2px solid black;
    padding: 5px 10px;
    color:black;
    text-align: center;
}

img-fluid{
    align-self: center;
}
