.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.jumbotron {
    margin-bottom: 0;
   
}

footer{
    background-color: lightskyblue;
    background-image: url(images/FondFooter.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:50px;
    min-height: 60vh; /* L'image occupe 80% de la hauteur de la fenêtre */

}
#manavbar{
    opacity: 0.95;
}